.footer_creator {
  position: absolute;
  right: 7rem; 
}
.footer_creator h6 {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.852);
  /* border-top: 1px solid #808dad49; */
}

@media only screen and (max-width:768px){
  .footer_creator h6 {
    font-weight: 200;
    text-align: center !important;
  }
}