.about_icon i {
  color: #01d293;
}

.about_image {
  padding: 10px;
  background: #171f38;
  margin-bottom: 20px;
  border-radius: 5px;
}

.about_image img {
  width: 100% !important;
  border-radius: 5px;
}

.about_image_box {
  width: 250px !important;
}

@media only screen and (max-width:992px){
  .about_image_gallery {
   justify-content: center !important; 
   margin-top: 50px;
  }
  .about_content h3{
    font-size: 1.3rem;
  }
}

@media only screen and (max-width:768x) {
  .about_image_box {
    width: 150px !important;
  }
}