.mySelf {
  padding-top: 60px !important;
}

.myIntro {
  padding-top: 50px;
}

.myIntro h5 {
  color: #808dad;
  font-weight: 400;
}

.myImage {
  position: relative;
  z-index: 9;
}

.myImage img {
  border-radius: 50px 5px 5px 5px;
}

.mySkills {
  text-align: left;
  width: 130px;
  padding: 10px 20px;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translateY(-50%);
  border-radius: 5px;
  background: #808dad28;
  z-index: 10;
}

.mySkills h6 {
  background: transparent;
  color: #fff;
}

.mySkills span i {
  color: #01d293;
  background: transparent;
}

.mySkills span {
  background: transparent;
}

.myExperience {
  width: 150px;
  position: absolute;
  bottom: -10%;
  right: -5%;
  padding: 10px 20px;
  border-radius: 5px;
  background: #808dad28;
  z-index: 10;
}

.myExperience span,
.myExperience h5,
.myExperience h6 {
  background-color: transparent !important;
}

.myExperience h6 {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 0.8rem;
}

.myExperience span i {
  padding: 5px;
  color: #02d293;
  background: #808dad70;
  border-radius: 5px;
}

@media only screen and (max-width:992px) {
  .myIntro h2 {
    font-size: 1.5rem !important;
  }

  .myIntro h5 {
    font-size: 1.1rem !important;
  }

  .myImage img {
    width: 250px !important;
    height: 250px !important;
  }

  .myIntro {
    padding-top: 0;
  }

  .mySkills {
    padding: 10px;
    width: 90px;
    left: 5%;
  }

  .mySkills h6,
  .mySkills span i {
    font-size: 0.7rem;
    margin-bottom: 0;
  }

  .myExperience {
    padding: 10px;
    width: 115px;

  }

  .myExperience h6 {
    font-size: 0.7rem;
  }

  .myExperience h5 {
    font-size: 0.9rem;
  }

  .myExperience span i {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .myImage {
    text-align: center !important;
    margin-top: 50px;
  }

  .mySkills {
    left: 15%;
  }

  .myExperience {
    right: 20%;
  }
}

@media only screen and (max-width: 576px) {
  .mySkills {
    display: none;
  }

  .myExperience {
    display: none !important;
  }
}